.navbarStyle{
  background-color: #000;
}

.gymmageStyle{
  height: 2rem;
}
.logoStyle{
  height: 3rem;
}
.buttonStyle{
 background-color: #141414;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  border-color: #62D8EA ;
}
.buttonStyle:hover{
  background-color: #62D8EA;
  color: #000;
}