.my-container {
  margin: 5vh auto;
  border: 4px solid black;
  font-size: x-large;
  font-weight: 300;
  background-color: #62D8EA;
}
.my-col {
  width: 50%;
  height: 9.5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  border-right: 4px solid black;
}

.my-col:last-child {
  border-right: none;
}
.link-grid{
  text-decoration: none;
  color: black;
}