
.cardPlan{
  background-color: #302D2D;
}
.imagePlan{
  height: 520px;
  width: 270px;
}
.colorForm{
  background-color: #BCC8CB;
}
.colorForm:focus-visible{
  background-color: #BCC8CB;
  outline: none; 

}
.colorForm:focus {
  border: 2px solid #a0a0a0; /* Puedes cambiar el color y el grosor del borde */
  box-shadow: 0 0 4px #FFFFFF; /* Puedes cambiar el color y la intensidad del resplandor */
}
.letterType{
  font-family: 'Honk', system-ui;
  font-family: 'Roboto Mono', monospace;
}

/*parte de Cardview*/

.cardView{
  width: 13rem;
  height: 275px;
  background-color: #302D2D;
  border-radius: 20px;
  filter: brightness(0.9);
  opacity: 0.9;
}
.buttonView{
  border-radius: 10px;
  background-color: #000;
  font-family: 'Honk', system-ui;
  font-family: 'Roboto Mono', monospace;
  transition: background-color 0.9s ease-in-out;
  border: 2px solid #62D8EA;
}
.buttonView:hover{
  background-color: #62D8EA ;
  color: #000;
  border: 2px solid #000;
  transform: translateX(7px)
}
.imgView{
  width: 22rem;
  filter: brightnes(0.3);
  opacity: 0.5;
}
.fontView{
  color: #000;
  background-color: #62D8EA;
  filter: brightness(0.9);
  opacity: 0.8;
  font-family: 'Honk', system-ui;
  font-family: 'Roboto Mono', monospace;
  border-radius: 20px;
}
/*paete de Planes*/
.contenedor{
  background-image: url('./images/mancuernasRecortadas.png');
  height: 400px;
}
/*Parte de CardProducto*/
.cardProducto{
  width: 16rem;
  border-radius: 0px;
  background-color: #302D2D;
}
.imgProducto:hover{
  filter: brightness(0.9);
  opacity: 0.8;
}
/*imagen principal*/
.imagenPrincipal{
  width: 1500px;
  height: 400px;
}